useDynLib(CDLasso, .registration = TRUE)

export(l1.reg, cv.l1.reg, l2.reg, cv.l2.reg, logit.reg, cv.logit.reg)

S3method("l1.reg", "default")
S3method("l2.reg", "default")
S3method("logit.reg", "default")
S3method("cv.l1.reg", "default")
S3method("cv.l2.reg", "default")
S3method("cv.logit.reg", "default")
S3method("print", "l1.reg")
S3method("print", "l2.reg")
S3method("print", "logit.reg")
S3method("print", "cv.l1.reg")
S3method("print", "cv.l2.reg")
S3method("print", "cv.logit.reg")
S3method("summary", "l1.reg")
S3method("summary", "l2.reg")
S3method("summary", "logit.reg")
S3method("plot", "cv.l1.reg")
S3method("plot", "cv.l2.reg")
S3method("plot", "cv.logit.reg")